/** Mosaic Gallery **/

div.flickr-mosaic-gallery__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/** Grid Gallery **/

div.flickr-grid-gallery__wrapper {
    text-align: center;
    clear: both;
}


li.flickr-grid-gallery__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li.flickr-grid-gallery__list__item {
    display: block;
    margin: auto;
    padding: 2px;
    float: left;
    border: solid 1px #000000;
    height: 120px;
    width: 120px;
    overflow: hidden;
    text-align: center;
}

div.flickr-grid-gallery__list__item__wrapper {
    text-align: center;
}

.flickr-grid-gallery__list__item img {
    display: block;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.flickr-grid-gallery__list__item a {
    display: block;
    font-weight: bold;
}

.flickr-grid-gallery__list__item a:hover {
}
