
{{ partial "header.html" . }}

    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/flickr.css" />

	<main class="main-content list content" role="main">
        {{- with .Content }}
        <div class="page-content">
            {{ . }}
        </div>
        {{- end }}

        <script>
        function jsonFlickrRecentPhotos(rsp) {
            window.rsp = rsp;
            var s = "";
            // http://farm{id}.static.flickr.com/{server-id}/{id}_{secret}_[mstb].jpg
            // http://www.flickr.com/photos/{user-id}/{photo-id}
            for (var i=0; i < rsp.photos.photo.length; i++) {
            photo = rsp.photos.photo[i];
            t_url = "http://farm" + photo.farm + ".static.flickr.com/" +
                photo.server + "/" + photo.id + "_" + photo.secret + "_" + "t.jpg";
            p_url = "http://www.flickr.com/photos/" + photo.owner + "/" + photo.id;
            s +=  '<a href="' + p_url + '">' + '<img alt="'+ photo.title +
                '"src="' + t_url + '"/>' + '</a>';
            }
            document.writeln(s);
        }
        function jsonFlickrAlbums(rsp) {
            window.rsp = rsp;
            var s = "";
            s += '<div class="flickr-album-gallery__wrapper">'
            s += '<ul class="flicker-album-gallery__list">'
            for (var i=0; i < rsp.photosets.total; i++) {
                photoset = rsp.photosets.photoset[i]
                s += '<li class="flickr-album-gallery__list__item">'
                s += '<div class="flickr-album-gallery__list__item__wrapper">'
                link = "http://www.flickr.com/photos/" + photoset.primary_photo_extras.ownername + "/albums/" + photoset.id
                s += '<a href="' + link + '" target="_blank">' + photoset.title._content + "</a>"
                s += '<a href="' + link + '" target="_blank">' + '<img src="' + photoset.primary_photo_extras.url_sq + '" />' + "</a>"
                s += "</div>"
                s += "</li>"
            }
            s += "</ul>"
            s += "</div>"
            document.writeln(s);
        }
        </script>

        <h2>Recent Photographs</h2>

        <script src="http://api.flickr.com/services/rest/?method=flickr.photos.search&api_key={{ $.Params.flickr_api_key }}&user_id={{ $.Params.flickr_user_id }}&per_page=15&format=json&jsoncallback=jsonFlickrRecentPhotos"></script>


        <h2>Albums</h2>

        <script src="http://api.flickr.com/services/rest/?method=flickr.photosets.getList&api_key={{ $.Params.flickr_api_key }}&user_id={{ $.Params.flickr_user_id}}&primary_photo_extras=url_sq%2Cowner_name&format=json&jsoncallback=jsonFlickrAlbums"></script>

	</main>

{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
