{{ partial "header.html" . }}

	<main class="main-content list content" role="main">
        {{- with .Content }}
        <div class="page-content">
            {{ . }}
        </div>
        {{- end }}

        <div class="gallery-wrapper">
            <ul>
            {{ range $.Site.Data.photographs }}
                <li class="gallery-item">
                    <div class="gallery-item-content-wrapper">
                        {{- if .name }}
                        <a href="{{ .url }}">
                            {{ .name }}
                        </a>
                        {{- end }}
                        <a href="{{ .url }}">
                            <img alt="{{ .name }}" src="{{ .image_url }}" />
                        </a>
                        {{- if .description }}
                        {{ .description }}
                        {{- end }}
                    </div>
                </li>
            {{ end }}
            </ul>
        </div>

	</main>

{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
